[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
lxml = "*"
pydantic = "*"
pydantic-settings = "*"
pytest = "*"
requests = "*"
uvicorn = "*"
cachetools = "*"

[dev-packages]
black = "*"
isort = "*"
lxml-stubs = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-coverage = "*"
types-cachetools = "*"
types-requests = "*"

[requires]
python_version = "3.12"
